@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';
/*@source "../../../node_modules/@vdegenne/forms/lib/FormBuilder.js";*/

[hidden] {
	display: none !important;
}

[invisible] {
	opacity: 0;
	pointer-events: none;
}

[primary] {
	color: var(--md-sys-color-primary);
	--md-sys-color-primary: var(--md-sys-color-on-primary-container);
	--md-sys-color-surface-container-low: var(--md-sys-color-primary-container);
	--md-sys-color-on-surface: var(--md-sys-color-on-primary-container);
}
[secondary] {
	color: var(--md-sys-color-secondary);
}
[secondary-container] {
	background-color: var(--md-sys-color-secondary-container);
	color: var(--md-sys-color-on-secondary-container);
}
[outlined] {
	color: var(--md-sys-color-outline-variant);
}

[error] {
	--md-sys-color-primary: var(--md-sys-color-error);
	--md-sys-color-on-primary: var(--md-sys-color-on-error);
	--md-sys-color-surface-container-low: var(--md-sys-color-error-container);
	--md-sys-color-on-surface: var(--md-sys-color-on-error-container);
	--md-sys-color-secondary-container: var(--md-sys-color-error);
	--md-sys-color-on-secondary-container: var(--md-sys-color-on-error);
	--md-sys-color-on-surface-variant: var(--md-sys-color-error);
}

/* .flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.centered {
	text-align: center;
} */

.jp {
	font-family: 'Noto Serif JP';
	font-family: 'Zen Maru Gothic';
	/* position: relative; */
	/* top: -2px; */
	font-weight: var(--jp-font-weight, 400);
}

md-fab[disabled] {
	pointer-events: none;
	opacity: 0.4;
}

md-dialog {
	max-width: min(500px, calc(100vw - 24px));
	width: 100%;
}

md-dialog[fullscreen] {
	max-width: 100vw;
	max-height: 100vh;
	width: 100%;
	height: 100%;
	--md-dialog-container-shape: 0;
}

md-dialog header {
	-webkit-app-region: no-drag;
	app-region: no-drag;
}
.drag {
	-webkit-app-region: drag;
	app-region: drag;
}

/* md-list-item { */
/* 	--md-list-item-top-space: 0; */
/* 	--md-list-item-bottom-space: 0; */
/* 	--md-list-item-leading-space: 0; */
/* 	--md-list-item-trailing-space: 0; */
/* 	padding: 12px 16px; */
/* } */
